.register{
    border: 2px solid rgb(161, 138, 138);
    text-align: center;
    margin: 50px auto ;
    background-color: white;
    width: 500px;
    
    border-radius: 2%;
    padding: 20px;
}
.register-app{
    text-align: center;
    margin: auto;
    padding: 20px;

    
}

#btregister{
    border-radius: 10% solid #f37777;
    height: 32px;
   
}
.bodyy{
    background-color: blue;
    background-image: url('img/bg.webp');

  
}
.register-header{
    font-family: 'Grandstander', cursive;
    color: blueviolet;
    font-size: 35px;
}
#name{
    padding: 8px;
    border-radius: 5px;
    border: solid 1px #dbdbdb;
    margin: 10px 0px;
    width: 30%;
}
#email{
    padding: 8px;
    border-radius: 5px;
    border: solid 1px #dbdbdb;
    margin: 10px 0px;
    width: 30%;
}
#password{
    padding: 8px;
    border-radius: 5px;
    border: solid 1px #dbdbdb;
    margin: 10px 0px;
    width: 30%;
}
#re-password{
    padding: 8px;
    border-radius: 5px;
    border: solid 1px #dbdbdb;
    margin: 10px 0px;
    width: 30%;
}
#name-error{
    color: red;
}