/* Thanh Điều Hướng */
input:focus {
	outline:none;
}

.bar{
    background-color: rgb(42, 41, 41);
    height: 50px;
	margin: 15px 0;
}

.bar .tab {
    display: flex;
    color: white;
    list-style: none;
    height: inherit;
	padding-right: 20px;
	padding-left: 0px;
}

.tab-item:hover{
    background-color: chartreuse;
}

.bar .tab .home a{
	text-decoration: none;
	color: white;
	display: block;
	height: 20px;
	width: 100px;
	padding: 15px 0px;
	text-align: center;
}

.bar .tab .tab-item:not(.home) {
  display: block;
  width: 100px;
  padding: 15px 0px;
	text-align: center;
	cursor: pointer;
}

.bar .tab .tab-item:hover {
	opacity: 90%;
}

/* Nút gio hàng */
/* .bar .tab .cart-btn {
	padding: 6px 20px 0 0;
}

.bar .tab .cart-btn a {
	display: block;
	border: 1px solid;
	padding: 9px;
	width: 89%;
	border-radius: 4px;
	text-align: center;
} */
/* Gio Hang End */

.bar .tab .search-container {
	display: flex;
}

.bar .tab .search-container .text-search {
    border: none;
    background: white;
    border-radius: 6px;
    padding: 10px;
    font-size: 15px;
    text-indent: 10px;
    width: 200px;
	margin-top: 6px;
	height: 18px;
}

.bar .tab .search-container .btn-search {
    width: 40px;
    height: 38px;
	margin: 6px -10px;
	border-radius: 5px;
	border: none;
	background-color: white;
	cursor: pointer;
}

/* Cho search-container dính vào bên phải	 */
.bar .tab li:last-of-type {
	margin-left: auto;
}
/* Kết thúc thanh điều hướng */

a:link, a:visited, a:hover, a:active {
	text-decoration: none;
}

a:visited {
	color: inherit;
}

.baner-top img{
    width: 100%;
    height:100%;
    vertical-align: middle;
}

.header-title{
    width: 250px;
}

.icon{
   height: 20px;
   width: 20px;
   flex: 1;
}

.content-img:hover{
    transform: scale(1.1);
    transition: all ease 300ms;
}

.content-name:hover{
    color: blueviolet;
    text-decoration: underline;
}

.actmenu-icon{
    background:url(img/actmenu-icon.jpg);
}

.header{
    display: flex;
    background-color:white;
    height: 280px;
    width: 100%;
}

.header-title h3{
    color: bisque;
    width: 190px;
}

.header-title p{
    color: bisque;
    
}

.header-search{
    background-color: white;
    height: 31px;
    margin: 15px;
    margin-left: 200px;
    border-radius: 10px;

    
}

.content {
    border: 0.5px solid moccasin;
    width: 270px;
    margin: 10px auto;
    padding: 35px;
    border-radius: 2%;
}

.content-search{
    border: 0.5px solid moccasin;
    width: 265px;
    margin: 27px 4px 13px 0px;;
    padding: 35px;
    border-radius: 2%;
   
}

.search-tit{
    width: 100%;
}

.search-tit h3{
    margin-left: 20px;
}

#products {
 display: flex;
 flex-wrap: wrap;
 
}
.sapxep{
    margin-top: 10px;
    display: none;
}
.sapxep p{
    text-align: center;
    color: blue;
    padding: 12px 16px;
    text-decoration: none;
    border: 1px solid #ccc;
    margin: 0px;
    background-color: aliceblue;
    z-index: 1;
}
.sapxep p:hover{
    background-color: rgb(30, 247, 247);
}
.counts:hover .sapxep{
    display: block;
} 

.counts{
    width: 240px;
    text-align: left;
}
#tabitemcount :hover{
    display: block;
}
#tabitemcount{
    width: 240px;
}
#main-iphone, #main-oppo, #main-samsung, #main-searchphone, #main-count{
    display: none;
    flex-wrap: wrap;
    margin-top: 15px;
}
	
.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
}

.main{
    margin: 15px 60px;
    background-color: white;
    flex-wrap: wrap;
}

body {
	 background-color: blanchedalmond;
	 margin: 0px;
}

.hot-item li{
    list-style: none;
    border: 0.5px solid whitesmoke;
    padding: 10px;
}

#itemhot{
    display: flex;
    flex-wrap: wrap;
}

.not-change img{
    width: 420px;
    height: 250px;
}

.all-title h3, .oppo-title h3, .iphone-title h3, .samsung-title h3 {
    margin-left: 20px;
}

.all-title{
    padding-top: 1px;
}

.hot-item{
    background-color: white;
    margin: 0 60px;
}

.change img{
    height: 250px;
    width: 250px;
}

.hot-item h3{
    padding-top: 10px;
}

.sub-banner{
    margin: 10px 60px;
}

.sub-banner img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.content-name h4 {
    cursor: pointer;
}

.content-price, .content-descripton {
    cursor: default;
}

#cach{
    margin-left: 45px;
}

.container {
    width: 96%;
    display:flex;
    padding:0 30px;
    background-color: orange;

}

.container p{
    font-size: 18px;
}

.col-3{
    padding-right: 148px;
    margin-left: 32px;
}

.icon{
    width: 40px;
    height: 40px;
}

/*slide*/

.sli{
    display: flex
}



.slide{
    width: 1400px;
    height: 250px;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 10px;
    position: relative;
    margin-left: 40px;

}

.chuyen-slider{
    width: 9999px;
    transition: all 0.5s;

}

.slider{
    width: 1400px;
    height: 250px;
    margin-left: 0p;
}

#pre{
    position: absolute;
    top: 45%;
    left: 10px;
}

#next{
    position: absolute;
    top: 45%;
    right: 10px;
}

#slider-3{
    margin-left: -8px;
}

.dieuhuong{
    display: none;
}

.slide:hover .dieuhuong{
    display: block;
}

#slider-2{
    margin-left: -4px;
    margin-right: 4px ;
}
/**/
.dropdown-content{
    display: none;
}
.dropdown-content :hover{
    display: inline;
}

