/* Thanh Điều Hướng */
input:focus {
	outline:none;
}

.bar{
    background-color: rgb(42, 41, 41);
    height: 50px;
}

.bar .tab {
	 display: flex;
	 /* flex-direction: row; */
    color: white;
    list-style: none;
    height: inherit;
	margin: 0px;
	padding-right: 20px;
	padding-left: 0px;
}

.bar .tab .home{
    background-color: tomato;
}

.bar .tab .home a{
	text-decoration: none;
	color: white;
	display: block;
	height: 20px;
	width: 100px;
	padding: 15px 0px;
	text-align: center;
}

.bar .tab .tab-item:not(.home) {
  display: block;
  width: 100px;
  padding: 15px 0px;
	text-align: center;
	cursor: pointer;
}

.bar .tab .tab-item:hover {
	opacity: 90%;
}

/* Nút gio hàng */
.bar .tab .cart-btn {
	padding: 6px 20px 0 0;
}

.bar .tab .cart-btn a {
	display: block;
	border: 1px solid;
	padding: 9px;
	width: 89%;
	border-radius: 4px;
	text-align: center;
}
/* Gio Hang End */

.bar .tab .search-container {
	display: flex;
}

.bar .tab .search-container .text-search {
    border: none;
    background: white;
    border-radius: 6px;
    padding: 10px;
    font-size: 15px;
    text-indent: 10px;
    width: 200px;
	margin-top: 6px;
	height: 18px;
}

.bar .tab .search-container .btn-search {
    width: 40px;
    height: 38px;
	margin: 6px -10px;
	border-radius: 5px;
	border: none;
	background-color: white;
	cursor: pointer;
}

/* Cho search-container và giỏ hàng dính vào bên phải */	
.bar .tab li:nth-last-of-type(2) {
	margin-left: auto;
}