.baner-top img{
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.header{
	display: flex;
	background-color:white;
	height: 80px;
	width: 100%;
}

.header-title{
	width: 250px;
}

.header-title h3{
	color: bisque;
	width: 190px;
}

.header-search{
    background-color: white;
    height: 31px;
    margin: 15px;
    margin-left: 200px;
    border-radius: 10px;
}

.header-search .text-search {
    border: 1px solid wheat;
    background: white;
    border-radius: 6px;
    margin-left: 8px;
    padding: 10px;
    font-size: 15px;
    text-indent: 10px;
    width: 350px;
}

.btn-search {
    margin-top: 16px;
    height: 39px;
    width: 44px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid wheat;
    margin-left: -15px;
}

.btnsearch {
	border: none;
	background: none;
	height: 24px;
	margin-top: 3px;
}

.btnsearch img{
    height: 15px;
    width: 15px;
    margin-top: 3px;
    border: none;
}

.header-deco {
	margin: 12px 30px;
	width: 232px;
	height: 57px;
	background-color: white;;
}

.bar{
    background-color: #183544;
    height: 49px;
}
.bar ul.tab {
    display: flex;
    color: white;
    list-style: none;
    height: 49px;
    margin-left: 21px
}
.bar ul.tab li{
    padding: 13px;
    text-align: center;
    cursor: pointer;
}

.tab-item img{
    margin-left: 600px;
    margin-top: -5px;
}
.tab-item-menu a{
    margin-left: -20px;
    text-decoration: none;
    color: white;
    font-size: 18px;
}
ul.tab li.home{
    background-color: tomato;
    
}
ul.tab li.home a{
    text-decoration: none;
    color: white;
}

